<p>this is the LINK section START</p>
<a href="/">Home</a>
<a href="/auth/login">Login</a>
<a href="/auth/register">Register</a>
<a href="/auth/logout">Logout</a>
<a href="/admin">Admin</a>
<a href="/user/profile">Profile</a>
<p>this is the LINK section END</p>